.content{
    margin-top:68px;
    margin-left:78px;
    margin-right:78px
  }
  .content__box{
    background-color:#ffffff;
    margin-top:10px;
    display:grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    
  }
  .content__avatar{
    padding-top:15px;
    padding-bottom:15px;
    padding-left:20px;
  }
  .content__avatar > img{
    width:70px;
    height:70px;
    border-radius:50%;
    object-fit:cover;
    }
    .content__profile{
      padding-top:21px;
      padding-bottom:21px
    }
    .profile__name{
      font:22px/30px OpenSans;
      color:#4D4E53
    }
    .profile__info{
      font:16px/22px OpenSans;
      color:#4D4E53;
      margin-top:9px;
    }
    .content__project{
      padding-top:35px;
      padding-bottom:35px;
    }
    .project__name{
      font:14px/19px OpenSans;
      color:#4D4E53;
      background-color:#EEEEEE;
      border-radius:20px;
      padding:9px;
      text-align:center;
      font-weight:800;
    }
    .action__plus{
      font:36px/24px OpenSans;
      padding-top:40px;
      padding-bottom:40px;
      padding-right:40px;
      margin-left:40px;
    }
    .content__info{
      height:450px;
  
    }
    .info{
       border-radius:1px;
    }
    .info__contact{
      background-color:#EEEEEE;
      height:80px;
      padding-left:35px;
      padding-top:28px;
      padding-bottom:24px;
      font:16px/22px OpenSans
    }
    .info__contact--margin{
     margin-left:10px 
    }
    .info__details{
      background-color:#FFFFFF;
      height:360px;
    }
    .details{
      padding-top:36px;
      padding-left:39px;
    }
    