.content{
    margin-top:68px;
    margin-left:78px;
    margin-right:78px;
    width:910px;
  }
  .content__box{
    background-color:#ffffff;
    margin-top:10px;
    display:grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    height: 100px;
    border-radius: 2px;
    cursor: pointer;
  }
  .content__avatar{
    padding-top:15px;
    padding-bottom:15px;
    padding-left:20px;
  }
  .content__avatar > img{
    width:70px;
    height:70px;
    border-radius:50%;
    object-fit:cover;
    }
    .content__profile{
      height:100px;
    }
    .profile__name{
      font:22px/20px 'Open Sans', sans-serif;
      color:#4D4E53
    }
    .profile__info{
      font:16px/2px 'Open Sans', sans-serif;
      color:#4D4E53;
    }
    .content__project{
      padding:20px 0px;
      margin-left: 192px;
    }
    .project__name{
      font:14px/19px 'Open Sans', sans-serif;
      color:#4D4E53;
      background-color:#EEEEEE;
      border-radius:20px;
      padding:9px;
      text-align:center;
      font-weight:800;
      width:141px;
    }
    .action__plus{
      font:36px/24px 'Open Sans', sans-serif;
      padding-top:40px;
      padding-bottom:40px;
      padding-right:40px;
      margin-left:40px;
      display:block 
    }
    .action__minus{
      font:50px/24px 'Open Sans', sans-serif;
      padding-top:36px;
      padding-bottom:40px;
      padding-right:40px;
      margin-left:40px;
      display:none 
    }
    /* content contact */
    .content__info{
      height:450px;
      display:none 

    }
    .info{
       border-radius:1px;
    }
    .info__contact{
      background-color:#EEEEEE;
      height:80px;
      padding-left:35px;
      font:16px/22px 'Open Sans', sans-serif;
      display:grid;
      grid-template-columns: 1fr 2fr 1fr 1fr;
      color: #4D4E53;
      font-weight: bolder;
    }
    .info__contact--align{
      padding:22px 0px;
      text-align: center
    }
    .info__contact--align > img{
      position: relative;
      top:8px;
    }

    .info__details{
      background-color:#FFFFFF;
      height:360px;
      padding-top:36px;
    }
    .details{
      padding-left:39px;
      padding-top:10px;
    }
    .details__title{
      font-style: italic;
      font: 16px/22px 'Open Sans',sans-serif;
      color:#CC092F
    }
