/* sidebar */
.sidebar {
    background-color: #D2D4DA;
  }
  .sidebar__content{
    padding-left:25px
  }
  .sidebar__input{
    width:220px;
    height:55px;
    border:2px solid #E5E5E5;
    padding:15px 16px;
    margin-top:18px;
    margin-right:20px;
  }
  .sidebar__filter{
    margin-top:30px
  }
  .sidebar__select{
    background-color:#F4F4F6;
    width:220px;
    height:35px;
    margin-right:20px;
  }
  .sidebar__check{
    margin-top:25px;
  }
  .sidebar__title{
    color:#ffffff;
    font:14px/19px
  }